@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.btn {
  font-size: 1rem;
  border-radius: 0;
  padding: 0.5rem 0.75rem;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(0.95);
  transition: 0.3s ease-in-out;
}
.btn.btn-gray {
  background-color: #363636;
  border: 1px solid #363636;
  color: #ffffff;
}
.btn.btn-white {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #d3d3d3;
}
.btn.btn-white:hover {
  border: 1px solid #000000;
}
.btn.btn-black {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}
.btn.btn-black:hover {
  border: 1px solid #000000;
}
.btn.btn-black:focus {
  background-color: #000000;
  color: #ffffff;
}

/* Animation */
@keyframes float-r-to-l {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-70px);
  }
}
@keyframes float-l-to-r {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  overflow-x: hidden;
}

.section-marker {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #d3d3d3;
  box-shadow: 0 0 10px 2px rgba(241, 241, 241, 0.3921568627);
  width: -moz-max-content;
  width: max-content;
  border-radius: 0.5rem;
}
.section-marker i {
  margin-right: 0.5rem;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 600;
}

.section-text {
  font-size: 1rem;
  color: #363636;
  font-weight: 300;
}

.col-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000000;
}
.col-title i {
  margin-right: 0.5rem;
}

.col-text {
  font-size: 1rem;
  font-weight: 300;
  color: #363636;
}

.navbar {
  background-color: #ffffff;
  z-index: 999;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.25rem;
}
.navbar .navbar-toggler {
  border: 0;
  font-size: 1.5rem;
  color: #000000;
  padding: 0;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item {
  margin-bottom: 0.5rem;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  border-bottom: 1px solid transparent;
  color: #000000;
  font-size: 1rem;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link.btn {
  color: #ffffff;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link.active {
  border-bottom: 1px solid #000000;
}
.navbar .nav-btn .btn {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(circle at top, rgba(255, 255, 255, 0.1), #000000, #000000);
  z-index: 4;
  padding-top: 2rem;
  position: relative;
}
.hero .cta-button {
  background-color: rgba(48, 48, 48, 0.5725490196);
  color: #ffffff;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .cta-button .link-btn {
  background-color: #363636;
  text-decoration: none;
  color: #ffffff;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.75rem;
  border-radius: 0.5rem;
}
.hero .heading {
  font-size: 3rem;
  font-weight: 500;
  color: #ffffff;
}
.hero .text {
  font-size: 1rem;
  font-weight: 300;
  color: #d3d3d3;
}
.hero .btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.hero .btn-container .btn {
  font-size: 1em;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
}
.hero .btn-container .btn.btn-white:hover {
  border: 1px solid #ffffff;
}
.hero .preview-image {
  width: 100%;
  height: 200px;
  -o-object-fit: fill;
     object-fit: fill;
}
.hero .floating-icons {
  display: none;
}

.trust {
  background-color: #ffffff;
  padding: 2rem 1rem;
}
.trust .subheading h4 {
  font-size: 1rem;
  color: #8e8e8e;
}
.trust .teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trust .teams img {
  width: 100%;
  filter: grayscale(100);
}

.features {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 4rem 1rem;
}
.features .img-container {
  background: radial-gradient(circle at top left, rgba(203, 255, 255, 0.359), rgba(144, 124, 144, 0.201));
  padding: 0.75rem;
  border-radius: 0.5rem;
}
.features .img-container img {
  border-radius: 0.25rem;
}

.benefits {
  background-color: #ffffff;
  min-height: 100vh;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.benefits .col-md-6:nth-child(2) .card-benefit img {
  background-color: #00ffff;
}
.benefits .col-md-6:nth-child(3) .card-benefit img {
  background-color: #006e00;
}
.benefits .col-md-6 .card-benefit {
  border: 1px solid #d3d3d3;
  border-radius: 0.5rem;
}
.benefits .col-md-6 .card-benefit img {
  width: 60px;
  height: 60px;
  background-color: #b400b4;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.pricing {
  padding: 4rem 1rem;
  background: radial-gradient(circle at bottom, rgba(255, 255, 255, 0.1), #000000, #000000);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
}
.pricing .section-marker {
  box-shadow: none;
  background-color: #101010;
  border: 1px solid #101010;
}
.pricing .nav-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 0;
  width: -moz-max-content;
  width: max-content;
  background-color: #101010;
}
.pricing .nav-tabs .nav-item .nav-link {
  border-radius: 0;
  color: #d3d3d3;
}
.pricing .nav-tabs .nav-item .nav-link.active {
  color: #000000;
}
.pricing .tab-content .card {
  background-color: rgba(46, 46, 46, 0.4549019608);
  color: #d3d3d3;
  font-size: 0.9rem;
  font-weight: 300;
  height: 100%;
}
.pricing .tab-content .card .card-footer {
  border: 0;
}
.pricing .tab-content .card h6 {
  font-size: 1rem;
}
.pricing .tab-content .card h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}
.pricing .tab-content .card h3 span {
  font-size: 0.9rem;
  color: #d3d3d3;
  font-weight: 300;
}
.pricing .tab-content .card .navbar-nav {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}
.pricing .tab-content .card .navbar-nav .nav-item {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  color: #d3d3d3;
  font-weight: 300;
}
.pricing .tab-content .card .navbar-nav .nav-item i {
  font-size: 1rem;
  margin-right: 0.25rem;
}
.pricing .tab-content .card .btn {
  font-size: 0.9rem;
  width: 100%;
  background-color: rgba(241, 241, 241, 0.3921568627);
  color: white;
  margin-top: auto;
}
.pricing .tab-content .card .btn:focus {
  background-color: #000000;
  color: #ffffff;
}

.testimonial {
  min-height: 100vh;
  padding: 4rem 1rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonial .card {
  background-color: #ffffff;
}
.testimonial .card .review-star {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.testimonial .card .review-star i {
  color: rgb(72, 0, 255);
  margin-right: 0.5rem;
}
.testimonial .card .review-star span {
  font-size: 1rem;
}
.testimonial .card .card-text {
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
}
.testimonial .card .card-footer {
  border: 0;
  background-color: #ffffff;
}
.testimonial .card .card-footer .profil-user {
  display: flex;
  align-items: center;
}
.testimonial .card .card-footer .profil-user .profil-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
}
.testimonial .card .card-footer .profil-user .profil-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.testimonial .card .card-footer .profil-user .profil-name h6 {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.testimonial .card .card-footer .profil-user .profil-name p {
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #7e7e7e;
  font-weight: 300;
}

@media (min-width: 576px) {
  .hero .heading,
  .hero .text {
    width: 90%;
    margin: 1rem auto;
  }
  .hero .btn-container {
    justify-content: center;
  }
  .hero .btn-container .btn {
    margin: 0 0.5rem;
  }
  .hero .preview-image {
    height: auto;
  }
}
@media (min-width: 768px) {
  .floating-icons {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform: translate(0, 0);
  }
  .floating-icons .icon {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 0.5rem;
    position: absolute;
  }
  .floating-icons .icon.icon-1 {
    top: 20%;
    left: 10%;
    animation: float-r-to-l 10s infinite ease-in-out;
  }
  .floating-icons .icon.icon-2 {
    top: 40%;
    left: 5%;
    animation: float-l-to-r 10s infinite ease-in-out;
  }
  .floating-icons .icon.icon-3 {
    display: none;
    animation: float-r-to-l 10s infinite ease-in-out;
  }
  .floating-icons .icon.icon-4 {
    top: 25%;
    right: 10%;
    animation: float-l-to-r 10s infinite ease-in-out;
  }
  .floating-icons .icon.icon-5 {
    top: 45%;
    right: 5%;
    animation: float-r-to-l 10s infinite ease-in-out;
  }
  .floating-icons .icon.icon-6 {
    display: none;
    animation: float-l-to-r 10s infinite ease-in-out;
  }
  .floating-icons .icon img {
    width: 40px;
    height: 40px;
    filter: grayscale(100);
  }
  .trust .teams img {
    width: 75%;
    margin: auto;
  }
  .features .col-title {
    font-size: 1rem;
  }
  .features .col-text {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) {
  .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item {
    margin-bottom: 0;
  }
  .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }
  .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link.btn {
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
  }
  .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link:hover {
    border-bottom: 1px solid #000000;
  }
  .navbar .nav-btn .btn {
    font-size: 0.9rem;
    padding: 0.5rem 1.25rem;
  }
  .hero .heading {
    width: 50%;
  }
  .hero .text {
    width: 60%;
  }
  .hero .preview-image {
    width: 80%;
    margin: 1.5rem auto 0;
    transition: width 0.5s ease;
  }
  .hero .floating-icons .icon.icon-1 {
    top: 10%;
    left: 10%;
  }
  .hero .floating-icons .icon.icon-2 {
    top: 30%;
    left: 5%;
  }
  .hero .floating-icons .icon.icon-3 {
    top: 42.5%;
    left: 12.5%;
    display: inline;
  }
  .hero .floating-icons .icon.icon-4 {
    top: 15%;
    right: 10%;
  }
  .hero .floating-icons .icon.icon-5 {
    top: 30%;
    right: 5%;
  }
  .hero .floating-icons .icon.icon-6 {
    top: 42.5%;
    right: 12.5%;
    display: inline;
  }
  .hero .floating-icons .icon img {
    width: 40px;
    height: 40px;
  }
  .trust p {
    font-size: 0.8rem;
    font-weight: 300;
  }
  .trust .teams img {
    width: 100%;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .col-title {
    font-size: 1rem;
  }
  .col-text {
    font-size: 0.9rem;
  }
  .pricing .nav-tabs {
    margin: 0 0 0 auto;
  }
  .pricing .tab-content .card {
    transition: 0.3s ease-in-out;
    font-size: 0.8rem;
  }
  .pricing .tab-content .card .navbar-nav {
    font-size: 0.9rem;
  }
  .pricing .tab-content .card .navbar-nav .nav-item {
    font-size: 0.8rem;
  }
  .pricing .tab-content .card:hover {
    background-color: #ffffff;
    color: #101010;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
  }
  .pricing .tab-content .card:hover h3 {
    color: #000000;
  }
  .pricing .tab-content .card:hover h3 span {
    color: #101010;
  }
  .pricing .tab-content .card:hover .navbar-nav {
    color: #101010;
  }
  .pricing .tab-content .card:hover .navbar-nav .nav-item {
    color: #101010;
  }
  .pricing .tab-content .card:hover .btn {
    background-color: #000000;
    color: #ffffff;
  }
}/*# sourceMappingURL=main.css.map */