@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// reset
// Variables for responsive breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1400px;

// Mixin for media queries (mobile-first)
@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (min-width: $breakpoint-small) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (min-width: $breakpoint-medium) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (min-width: $breakpoint-large) {
      @content;
    }
  } @else if $breakpoint == xlarge {
    @media (min-width: $breakpoint-xlarge) {
      @content;
    }
  } @else if $breakpoint == xxlarge {
    @media (min-width: $breakpoint-xxlarge) {
      @content;
    }
  }
}

// color
$white-color: #ffffff;
$black-color: #000000;
$lightgray-color: #d3d3d3;
$darkgray-color: #8e8e8e;
$gray-color: #363636;
$purple-color: #b400b4;
$cyan-color: #00ffff;
$green-color: #006e00;

// button
.btn {
  font-size: 1rem;
  border-radius: 0;
  padding: 0.5rem 0.75rem;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(0.95);
    transition: 0.3s ease-in-out;
  }

  &.btn-gray {
    background-color: $gray-color;
    border: 1px solid $gray-color;
    color: $white-color;
  }

  &.btn-white {
    background-color: $white-color;
    color: $black-color;
    border: 1px solid $lightgray-color;
    &:hover {
      border: 1px solid $black-color;
    }
  }
  &.btn-black {
    background-color: $black-color;
    color: $white-color;
    border: 1px solid $black-color;
    &:hover {
      border: 1px solid $black-color;
    }

    &:focus {
      background-color: $black-color;
      color: $white-color;
    }
  }
}

/* Animation */
@keyframes float-r-to-l {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-70px);
  }
}

@keyframes float-l-to-r {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
}

// style

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $black-color;
  overflow-x: hidden;
}
